@model FBKA_v2.Models.ModUser
@{
    ViewBag.Title = "Confirmar Dados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend> Confirmar dados preenchidos!</legend>
    <div>
        <strong>@Html.LabelFor(model => Model.IdUser): </strong>@Html.DisplayFor(model => Model.IdUser) <!--Model.IdUser-->
    </div>
    <div>
        <strong>@Html.LabelFor(model => Model.Name): </strong>@Html.DisplayFor(model => Model.Name)
    </div>
    <div>
        <strong>@Html.LabelFor(model => Model.Email): </strong>@Html.DisplayFor(model => Model.Email)
    </div>

    <div>
        <strong>@Html.LabelFor(model => Model.DtCadastro): </strong>@Html.DisplayFor(model => Model.DtCadastro)
    </div>

    <div>
        <strong>@Html.LabelFor(model => Model.ValorEtapa): </strong>@Html.DisplayFor(model => Model.ValorEtapa)
    </div>

    <div>
        <strong>@Html.LabelFor(model => Model.Password): </strong>@Html.DisplayFor(model => Model.Password)
    </div>

</fieldset>


